@model IEnumerable<Homwwork_20220529.Models.FoodOrderViewModel>

@{
    ViewData["Title"] = "顧客訂單列表";
    string ErrorMessage = TempData["ErrorMessage"]?.ToString() ?? string.Empty;
    if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <script>
            alert("@ErrorMessage");
        </script>
    }
}
<h1>顧客訂單列表</h1>

<p>
    <a asp-action="Create">建立訂單</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fid)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.FoodMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.FoodMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDatetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidDateTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">編輯</a>
                    <a asp-action="PayFoodOrder" asp-route-id="@item.Id" class="btn btn-dark @(item.PaidDateTime!=null?"d-none":"")">扣款</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger @(item.PaidDateTime!=null?"d-none":"")">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
